<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Cyclone Rocketry Avionics</title>
      {% endif %}
      {%block extend_head%}{%endblock%}
    </head>
    <body>
         {%if img %}
         <img src="{{img}}" alt="Cyclone Rocketry" style="width:215px;height:100px;">
         {% endif %}
         <div>CyRoc: <a href="/">Home</a> <a href="/messages">Messages</a> {%if msg_list%}{%for msg in msg_list%} <a href="{{msg.fp}}">{{msg.name}}</a> {%endfor%}{%endif%}
           </div>
         <hr>
         {% block content %}{% endblock %}
    </body>
</html>
