{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Ground station received messages</h1>
    <p>Messages will appear below as they are received</p>
</div>
</div>
<div class="container" id="content">
    <div class="row">
        <div id="log">
        </div>
    </div>
</div>
{% endblock %}
{% block extend_head %}
<script src={{url_for('static', filename='js/jquery-3.3.1.min.js')}}></script>
<script src={{url_for('static', filename='js/socket.io.min.js')}}></script>
<script src={{url_for('static', filename='js/application.js')}}></script>
{% endblock %}
