{% extends "base.html" %}

{% block content %}
    <h1>Received a {{ message.name }}, time = {{ message.time}}</h1>
{% endblock %}


<script>
    var x = setInterval(function() 
            {loadData("data.txt\",updateData)}, 1000);
    function loadData(url, callback){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
     if(this.readyState == 4 && this.status == 200){
     callback.apply(xhttp);
     }
    };
    xhttp.open(\"GET\", url, true);
    xhttp.send();
    }
    function updateData(){
    page +=
        " document.getElementById(\"data\").innerHTML = this.responseText;
    }
</script>

<script>
    var x = setInterval(function() 
            {loadData("data.txt\",updateData)}, 1000);

    $(function() {
        // write start up code here
    });
</script>